/* Swiper 기본 설정 */
.swiper {
  .swiper-slide {
    width: 210px !important;
    height: 350px !important;
    .card-wrap {
      width: 100%;
      height: 100%;
      position: relative;
      .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 10px;
      }
    }
  }
}
