.footer{
  width: 100%;
  background-color: #f6f5f3;
  padding: 42px 0 50px;
  margin-top: 60px;
}

.footer-link-content{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  .title{
    font-size: 24px; font-weight: 500; color: #707070;
  }
  .footer-menu{
    display: flex; gap: 105px;
    li{
      font-size: 16px; color: #707070; padding: 8px 0;
    }
  }
}