.magazine-wrap{
  padding: 80px 0;
}
.magazine-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .title{
    font-size: 32px;
    letter-spacing: -1.2px;
    line-height: 34px;
    color: #333;
  }
}
.magazine-content{
  display: flex;
  gap: 2%;
  margin-top: 28px;
  .magazine-box{
    width: calc(33.3% - 2%);
    .magazine-text{
      position: relative;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: -.7px;
      color: #333;
      margin-top: 14px;
      padding-right: 8px;
      line-height: 1.5rem;
      max-height: 3rem;
      overflow: hidden;
      span{font-weight: 500;}
    }
  }
}