.todolist{
  background-color: #ddd;padding: 24px; max-width: 600px; margin: 200px auto;
}

.form-search{
  display: flex; align-items: center; gap: 12px;
  button{
    flex-shrink: 0; border: 0; background-color: #fff; padding: 6px 8px; border-radius: 4px;
  }
}

.list{
  background-color: #ddd; min-height: 400px;
}